<html>
<head>
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>

    <script src="//apis.google.com/js/platform.js?onload=start">
    </script>
</head>

<body>
    <!-- GOOGLE PLUS SIGN IN BUTTON-->
    <div id="signInButton">
        <span class="g-signin"
              data-scope="openid email" data-clientid="464843678806-0ophaou22tlbr4rqb6ppkboed99ksrgm.apps.googleusercontent.com" data-redirecturi="postmessage"
              data-accesstype="offline"
              data-cookiepolicy="single_host_origin"
              data-callback="signInCallback"
              data-approvalprompt="force">
          </span>
    </div>

    <div id="result"></div>

    <script>
      function signInCallback(authResult) {
        if (authResult['code']) {
          // Hide sign in button after user authorization
          $('#signInButton').attr('style', 'display: none');
          // send the one-time use 'state' code to the server, if it responds, write a 'login successful'
          // message to the browser and then redirect to the main restaurants page
          $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            processData: false,
            data: authResult['code'],
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
              // Handle or verify the server response if neccessary
              if (result) {
                $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                setTimeout(function() {
                  window.location.href = "/restaurant"
                }, 4000);
              } else if (authResult['error']) {
                console.log('There was an error: ' + authResult['error']);
              } else {
                $('#result').html('Failed to make a server-side call.  Check your configuration and console.');
              }
            }
          });
        }
      }
    </script>
    <!-- FACEBOOK SIGN IN -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId   : '202533063560713',
          cookie  : True,  // enable cookies to allow server access to the session
          xfbml   : True,  // parse social plugins on this page
          version : 'v2.8'
        });
        FB.AppEvents.logPageView();
      };

      // Load  and initialize the SDK asynchonously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementsById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

</body>
</html>
